#main_body
{
	margin-top: 70px ;
	height:auto;
	color:rgb(0, 0, 255);

}
.main_body_cos
{
  height: 100%;
}

#footer
{
	height:auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  flex: 25%;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 15px;

}

.container {
  background-color:#f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.main_body_in_meniu_plata input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 98%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}



#plata:active
{
	color:red;
}
#chestie
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;

}
#chestie1
{
  background-color:rgba(0, 0, 0, 0.1
  );
}
.bara_cautare_cos
{
  margin-top: 2%;
}
#billing
{
  background-color: blue;
  
}
#bill
{
  background-color: #ff471a;
}
#row
{
  background-color: black;
}
.row1
{
  background-color: #ff944d;
}
.cosasul
{
  height: 50%;
}
.footer_abs
{
  background-color: green;
}
.bara_cautare_plata
{
    margin-top: 2%;
}
#main_body,.main_body_in_meniu_plata{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-top:4%; 
	overflow-y:auto;
}