@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background-image: url("../MEDIA_CONTENT/background_image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
h4{
    text-decoration: none;
    color: #0c0c0c;
}


nav,footer,#main_body,.main_body_in_favorite{
    border-style: solid;
	border-width:2px;
	color:#0e0606;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 3px rgb(0, 0, 0);
	border-color:white;
	border-radius:10px;
	background-color:rgba(0, 0, 0, 0.3);
	border: 1px solid #ff5c33;
}

header{
	display:flex;
	border-radius: 15px;
	flex-direction:row;
	align-items:center; 
	position:fixed;
	height:60px;
	width:90%;
	top:0%;
	left:5%;
	background-image: linear-gradient(grey,black,black);

}

.box {
  color: orangered;
  float: left;
  margin: 2%;
  width: 40%;
}
  
footer{
    display: flex;
	width:90%;
	margin-left:5%;
    background-image: linear-gradient(grey,black,black);
    float:left;
}

#cauta_produs a{
    text-decoration: none;
    padding-left: 40px;
    font-size: 20px;
    color: #ff3300;
    margin-left: 3%;
    font-family: Georgia;
    }

#bara_cautare{
	width:50%;
	height:80%;
	color:orangered;
	border-style:solid;
	border-color:white;
	border-radius:20px;
	background-color:inherit;
	top:2%;
	margin-left:50px;
    font-size: 15px;
    padding-left: 2%;
    border: 1px solid #3b3b3b;
    background: #0c0c0c;
    outline:none;

}


#buton_cauta
{
	height:80%;
	font-size:15px;
	color:white;	
	outline:none;
	 background-color: inherit;
	 border:none;
	cursor: pointer;
}

#buton_cos,#buton_cont,#buton_favorite{
	
	height:80%;
	font-size:15px;
	color:white;	
	outline:none;
	 background-color: inherit;
	 border:none;
	 width:11%;
	 
}

ul{
    display: flex;
    flex-wrap: wrap;
}
li{
   display: flex;
   float:left;
   width:300px;
   padding:6px; 
   list-style-position: inside;
}
.price {
    float: inherit;
    color: grey;
    padding-left: 900px;
  }
#interior
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;

}
#main_body,.main_body_in_favorite{
    background-color:#f2f2f2;
	width:90%;
	height:100%;
	margin-left:5%;
	margin-top:4%; 
	overflow-y:auto;
}
.button {
    background-color: rgb(162, 186, 194); 
    border: none;
    color: white;
    padding: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;

  }
  #clear{
      height: 275px;
  }
