#main_body {
	margin-top: 70px ;
	height:auto;
    color:white;
    
}

body{
    background: url(../MEDIA_CONTENT/trial1.3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main_body_cos {
  height: 100%;
}

#footer {
	height:auto;
}

.container {
  background-color:#f2f2f2;
  padding: 5px 20px 15px 20px;
  border: rgba(255, 0, 0, 0.644) 1px solid;  border-radius: 3px;
}

.main_body_in_cos input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: rgba(255, 0, 0, 0.644) 1px solid;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 98%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

span.price {
  float: right;
  color: white;
}

#interior{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;

}
#interior1 {
  background-color: rgba(0, 0, 0, 0.699);
}

.bara_cautare_cos {
  margin-top: 2%;
}

.bara_cautare_plata {
    margin-top: 2%;
}
#main_body,.main_body_in_meniu_plata{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-top:4%; 
	overflow-y:auto;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
   display:block;
   float:left;
   width:300px;
   padding:6px; 
}
.button {
    color: white;
    padding: 5px;
    margin-right:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: rgba(255, 0, 0, 0.644) 1px solid;
    border-radius:15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 700;
    float:right;
    background: inherit;
  }

.button:hover{
      background-color: rgba(255, 0, 0, 0.644);
      box-shadow: 0 0 200px 1vw rgba(255, 255, 255, 0.37);

  }

  .col-25 p a{
      color:white;
      text-decoration: none;
      font-family: 'Courier New', Courier, monospace;
      font-size: 15px;
      font-weight: 700;
  }
  h4,p,u{
      text-decoration: none;
  }
  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255, 0, 0, 0.644);
    margin: 1em 0;
    padding: 0; 
  }

  #main_block{
      transform: translateY(10%);
  }
  
  .paragraph01{
      margin-left:5%;
      font-size:3vw;
      font-family: 'Courier New', Courier, monospace;
      font-weight: 700;
  }
