.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    width:98%;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
        
  }
  
  
  .box i
  {
      font-size:24px;
      color:#1a1aff;
  }
  
  label, div h3
  {
    color:black;
  }
  
  .icon-container i
  {
    font-size:50px;
    color:red;
  }
  
  
  .main_body_in_meniu_plata
  {
    overflow: hidden;
    height: auto;
    border: rgb(255, 0, 0,.5) 3px solid;
    border-radius:15px;
    box-shadow: 0 0 50px 15px #282a2d9c;
    margin-bottom: 3vw;
     margin-top: 10%;
    margin-left: 4.5%;
    margin-right: 4.3%;
    background: rgba(0, 0, 0, 0.514);
  }
  
  
  
  .col-50 {
    
    flex: 50%;
  }
  
  .col-75 {
    flex: 75%;
  
  }
  
  .col-50,.col-75 {
    padding: 0 15px;
  }
  .col-50 label{
        color:white;
        font-size: 20px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    padding: 5px 20px 15px 20px;
  }
  
  .main_body_in_meniu_plata input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid black;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    margin-left: 30%;
  }
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  
  .row1
  {
    background-color: #ff944d;
  }

  body{
    background: url(../MEDIA_CONTENT/trial1.3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .mapouter{
      margin-left: auto;
      margin-right:auto;
      margin-bottom:3vw;
      
  }
