#main_block{
 width:100%;
 height:100%;
}
header,nav,footer,#main_body{
	border-style: solid;
	border-width:5px;
	border-color:black;
	border-radius:10px;
}

header{

	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	

	position:fixed;
	height:60px;
	width:90%;
	top:0%;
	left:5%;

		background-color:blue;
}
nav{
	width:50%;
	height:20%;
	margin-left:25%;
	margin-top:80px;

		background-color:yellow;
}
#main_body{
	width:90%;
	height:100%;
	margin-left:5%;
	margin-top:5px; 
	overflow-y:auto;

		background-color:green;
}
footer{
	width:90%;
	height:10%;
	margin-left:5%;
	margin-top:5px;

		background-color:red;
}





#search_bar{
	width:80%;
	height:80%;
	border-bottom-style:solid;
	border-bottom-color:black;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	background-color:inherit;
	font-size:30px;
	margin-left:10px;
}