
nav,footer,#main_body,.main_body_in_meniu_plata{
	border-style: solid;
	border-width:2px;
	color:rgba(255, 0, 0, 0.644);;
    font-size: 18;
    font-family: Georgia;
    text-shadow: 0 0 3px rgba(255, 0, 0, 0.644);;
	border-color:white;
	border-radius:10px;
	background-color:rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(255, 0, 0, 0.644);;
}

header{
	display:flex;
	flex-direction:row;
	align-items:center; 
	position:fixed;
	height:60px;
	width:90.1%;
	top:0%;
	left:5%;
	background-image: linear-gradient(grey,black,black);
	z-index: 1;
}

.box {
  color: rgba(255, 0, 0, 0.644);;
  float: left;
  margin: 2%;
  width: 40%;
}


footer{
	width:90%;
	margin-left:5%;
    background-image: linear-gradient(grey,black,black);
    float:left;
}

#cauta_produs a{
    text-decoration: none;
	padding-left: 40px;
	font-weight: 700;
    font-size: 3vw;
    color: rgba(255, 0, 0, 0.644);
	margin-left: 3%;
	font-family: sans-serif;
    }

#bara_cautare{
	width:50%;
	height:80%;
	color:white;
	border-style:solid;
	border-color:white;
	border-radius:20px;
	background-color:inherit;
	top:2%;
	margin-left:50px;
    font-size: 2vw;
    padding-left: 2%;
    border: 1px solid #3b3b3b;
    background: #0c0c0c;
    outline:none;

}


#buton_cauta
{
	height:80%;
	font-size:15px;
	color:white;	
	outline:none;
	 background-color: inherit;
	 border:none;
	cursor: pointer;
}

#buton_cos,#buton_cont,#buton_favorite,#buton_cauta{
	
	height:80%;
	font-size:30px;
	color:rgba(255, 0, 0, 0.644);	
	outline:none;
	background-color: inherit;
	border:none;
	width:11%;
	 
}

#buton_cos:focus,#buton_cont:focus,#buton_favorite:focus{
	color:yellow;
	 
}

#facebookLogo{
	font-size:24px;
	color:#563fd8ee;
	padding-right:1vw;
}
#gitLogo{
	color:#8c8c8c;
	font-size: 24px;	
}

.numeFacebook{
	color:grey;
	text-decoration: none;
	padding-bottom: 10px;
	word-wrap: break-word;
	
}

.subTitluFooter{
	font-size: 2vw;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

#footerLogos{
	font-size:20px;
	margin-bottom:10px;
	color:rgba(255, 0, 0, 0.644);
	padding-right:1vw;

}
