body{
	background-image: url("../../../MEDIA_CONTENT/background_image.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main_body{
	width:90%;
	margin-left:5%;
}
#top_hr{
	margin-top:5%;
}
.my_hrs{
	color:white;
	width:90%;
	margin-left:5%;
}


#product_data_container{
	display:flex;
	margin-top:5px;
	margin-bottom:5px;
	display:flex;
	width:90%;
	height:70%;
	margin-left:5%;
}


#product_pictures_list{
	width:50%;
	height:100%;
}
#big_picture{
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
	height:90%;
}

#inner_image{
	border-style:solid;
	border-color:red;
	border-width:2px;
	border-radius:10px;
	width:60%;
	height:90%;
}

#pictures_list_iterator{
	height:10%;
	display:flex;
	align-items:center;
	justify-content:center;
}

#left_button,#right_button{
	font-size: 40px;
	color:white;
	border-style:solid;
	border-color:white;
	border-width: 5px;
	border-radius: 100%;
}

#list_buttons_block{
	display:flex;
	align-content:center;
	justify-content:space-between;
	width:20%;

}
#product_informations{
	
	border-left-style:solid;
	border-color:white; 
	width:50%;
	height:100%;
	
}
#product_name{
	font-size:50px;
	color:red;
	width:90%;
	margin-left:5%;
	height:10%;
}
#reviews_container{
	background-image:linear-gradient(rgba(128, 128, 128,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	border-radius:10px;
	display:block;
	width:90%;
	height:50%;
	margin-left:5%;
}
#reviews_menu{
	display:flex;
	background-image:linear-gradient(grey,black,black);
	width:100%;
	height:10%;
	border-style:solid;
	border-color:white;
	border-radius:10px;
	border-width:2px;
	margin-top:5px; 
}
#reviews_body{
	border-width:2px;
	margin-top:5px; 
	width:100%;
	height:90%;
}


/**********************************bigger image*****************************************/
#first_layer{
	position:absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
	margin-top: 0px;
	width:99%;
	height:99%;
	background-image:linear-gradient(rgba(128, 128, 128,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}
#second_layer{
	max-width: 60%;
	max-height: 70%;
}





/*********************************************************************************************/

.button_rev_men{
	outline: none;
	text-align: center;
	font-size: 100%;
	width:10%;
	border-style:none;
	border-right-style: solid;
	border-right-color:white;
	background-color:transparent;
	color:white;
}
.button_rev_men:hover,#button_buy:hover,#button_fav:hover{
	background-image:linear-gradient(grey,grey,black);
	font-weight: bold;
}
.button_rev_men:active,#button_buy:active,#button_fav:active{
	color:#CC0000;
	background-image:linear-gradient(white,grey,black);
}

#product_informations > *{
	margin-left:20px;
}
#button_buy,#button_fav{
	display:block;
	margin-top:10px;
	border-style:none;
	border-radius:5px;
	outline:none;
	width:30%;
	height:15%;
	font-size:100%;
	color:white;
	background-image:linear-gradient(grey,black,black);
}

#buttons_group{
	display:block;
	color:white;
	height:50%;
}

#price_label{
	color:red;
	font-size:40px;
}
#price_value{
	color:white;
	font-size:20px;
}
#price_value:after{
	content:" roni";
	color:red;
}